/* Colors */
@input-border-color: #d2d2d2;
@heading-color: #000; //#ff9900;
@button-color: #000; //#ff9900
@button-color-hover: red;
@button-color-active: #800000;
@header-color: red; //#24b7f6;
@labels-color: #b8b8b8;
@slider-thumb-color: #21a79b;
@slider-bubble-color: #21a79b;
@slider-bubble-font-color: #fff;
@filled-input-color: #4bb04f;
@button-font-color: #fff;
@shadow-color: rgba(0, 0, 0, 0.25);

/* Header */
@header-height: 63px;
@header-margin: 50px;
@header-icon-size: 30px;
@header-icon-color: #fff;

/* Heading */
@heading-margin: 70px;
@heading-font-size: 60px;

/* Labels */
@labels-font-size: 12px;

/* Input */
@input-font-size: 16px;
@input-padding: 5px;

/* Button */
@button-font-size: 14px;
@button-padding-vertical: 20px;
@button-padding-horizontal: 40px;

/*
	=============================================
	Options	
	=============================================
*/

@option-bottom-margin: 25px;

/* Slider */
@slider-height: 2.5px;
@slider-background: #d2d2d2;
@slider-opacity: 0.7;
@slider-transition-duration: .2s;
@slider-thumb-dimensions: 15px;
@slider-bubble-font-size: 11px;