@text-color: blue;
@title-size: 80px;

body {
	margin: 0;
}

#wrapper {
	width: 400px;
	margin: 0 auto;
	text-align: center;
	h1 {
		font-size: @title-size;
	}
	#text {
		color: @text-color;
	}
}

a {
	display: flex;
}