@border-color: #000;
@statistic-panels-margin: 1.66%;
@statistic-icons-top-margin: 12.5px;
@margin-between-rows: 30px;
@modal-button-height: 34px;

body {
	font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
	background-color: #fff !important;
}

.button-def() {
	padding: 5px 20px;
	font-size: 16px;
	border: 1px solid @border-color;
	border-radius: 2px;
}

// Header of page
.header {
	background-color: #fff;
	> div {
		border-right: 1px solid @border-color;
		border-bottom: 1px solid @border-color;
	}
	> div:last-child {
		border-right: none;
	}
}

// Statistic blocks
.statistic {
	margin-top: @margin-between-rows;
	.statistic-unit {
		padding: 15px;
		margin-left: @statistic-panels-margin;
		margin-right: @statistic-panels-margin;
		border: 1px solid @border-color;
		> div {
			padding: 0;
		}
		.icon {
			width: 50px;
			height: 50px;
			border: 1px solid @border-color;
			border-radius: 50%;
			i {
				font-size: 20px;
				margin-top: @statistic-icons-top-margin;
			}
		}
	}
}

// Position and dimensions of tables (with users and general info)
.info-tables {
	margin-top: @margin-between-rows;
	.users-info,
	.general-info {
		display: inline-block;
		margin-left: @statistic-panels-margin;
		margin-right: @statistic-panels-margin;
	}
	.users-info {
		width: (100/12)*8 + @statistic-panels-margin*6;
		vertical-align: top;
	}
	.general-info {
		width: (100/12)*2%;
	}
}

// Font-size in users-table (14px by default)
.users-info {
	font-size: 16px;
}

// Header of table with users information
.users-info-header {
	font-size: 20px;
	> div,
	> button,
	> h2 {
		display: inline-block;
		margin: 0; // remove h2 margins
		margin-left: 15px;
		vertical-align: middle !important;
	}
	>:last-child {
		margin-left: 0;
	}
	.users-amount {
		padding: 5px;
		border: 1px solid @border-color;
		border-radius: 50%;
	}
	.add-new {
		.button-def;
	}
	.form-control {
		border: 1px solid @border-color;
	}
	.float-right {
		float: right;
	}
}

.general-info {
	font-size: 25px;
	img {
		width: 30px;
	}
}

// Modal
#edit-user {
	font-size: 18px;
	.modal-dialog {
		width: 275px;
		.modal-content {
			padding-bottom: @modal-button-height;
			border: 1px solid @border-color;
			border-radius: 0;
			.modal-header {
				padding: 5px 10px;
				border-bottom-color: @border-color;
			}
			.modal-body {
				padding-bottom: 10px;
			}
			button {
				.button-def;
			}
			.form-group {
				margin-bottom: 10px;
			}
			.form-control {
				border: 1px solid @border-color;
				border-radius: 0;
			}
		}
	}
}
// Place modal closer to center
@media screen and (min-width: 768px) {
  .modal:before {
    height: 25%;
  }
}

// Change color of table borders
.table {
	border: 0.5px solid @border-color !important;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
	 border: 0.5px solid @border-color !important;
}

// Align only the part of column header which contains column headers
.column-headers th {
	text-align: center !important;
}




























/*@statistic-panels-margin: 1.38%;
@statistic-icons-margin: 14px;

@input-color: #000;
@background-color: rgb(220,220,220);
@border-color: rgb(0, 0, 0);

// Mode: Tablet
@tablet: ~"(min-width: 768px) and (max-width: 1024px)";
@tablet-area: 750px;
// Mode: Desktop
@desktop: ~"(min-width: 1024px)";
@desktop-area: 970px;
// Mode: Mobile
@mobile: ~"(min-width: 320px) and (max-width: 768px)";
@mobile-area: 670px;

body {
	background-color: @background-color !important;
}

// Header styles
#header {
	.panel-body {
		padding: 0;
		div {
			padding: 10px;
			font-size: 30px;
			border-right: 1px solid @border-color;
			border-bottom: 1px solid @border-color;
			white-space: nowrap;
		}
		:last-child {
			border-right: none;
		}
	}
}
// Statistic styles
#info {
	.panel {
		margin-left: @statistic-panels-margin;
		margin-right: @statistic-panels-margin;
		padding: 0;
		border-radius: 0;
		border-color: @border-color;
		.panel-body {

		}
	}
	.icon {
		display: inline-block;
		width: 50px;
		height: 50px;
		border: 1.5px solid @border-color;
		border-radius: 50%;
		text-align: center;
		i {
			margin-top: @statistic-icons-margin;
			font-size: 20px;
		}
	}
	.statistic-info {
		display: inline-block;
		width: 100%;
	}
}

// Table of users information styles
#main-content {
	.table-main-info {
		font-size: 18px;
		div, button, input {
				display: inline-block;
		}
		button {
			background-color: @background-color !important;
			border: 1px solid @border-color !important;
		}
		input {
			float: right;
			width: 40%;
			padding: 5px;
			border-radius: 4px;
			border-color: @border-color;
			outline: none;
		}
	}
	.content-table {
		padding: 0;
		margin-left: @statistic-panels-margin;
		margin-right: @statistic-panels-margin;
		background: #fff;
		.table-bordered > thead > tr > th,
		.table-bordered > tbody > tr > th,
		.table-bordered > tfoot > tr > th,
		.table-bordered > thead > tr > td,
		.table-bordered > tbody > tr > td,
		.table-bordered > tfoot > tr > td {
			border: 0.5px solid @border-color;
		}
		.table-bordered {
			margin: 0;
		}

		button {
			border: none;
			background: none;
			outline: none;
		}
	}

	.panel {
		.panel-body {
			padding: 0;
			text-align: center;
			font-size: 20px;
			:first-child {
				img {
					width: 40px;
				}
			}

			> div {
				padding: 5px;
				border-bottom: 1px solid @border-color;
			}

			:last-child {
				border-bottom: none;
			}
		}

	}
}

// Modal edit window styles
#edit-user {
	border-radius: 0;
	.modal-dialog {
		width: 300px;
		.modal-content {
			border-radius: 0;
			border-color: @border-color;
			background-color: @background-color;
			.modal-header {
				padding: 10px;
				font-size: 16px;
				font-weight: 700;
				text-align: center;
				border-color: @border-color;
				background-color: #fff;
			}
			.modal-body {
				padding: 5%;
				text-align: right;
				input {
					display: block;
					width: 100%;
					margin-bottom: 10px;
					padding: 5px;
					border: 1px solid @border-color;

					&::-webkit-input-placeholder{
						color: @input-color;
				    }

				    &:-moz-placeholder{
						color: @input-color;
				    }

				    &::-moz-placeholder{
						color: @input-color;
				    }

				    &:-ms-input-placeholder{
						color: @input-color;
				    }
				}
				button {
					width: 50%;
					height: 30px;
					color: @border-color;
					border: 1px solid @border-color;
					background-color: #fff;
				}
			}
		}
	}
}*/
