/* Basic options */

header {
	height: @header-height;
	margin-bottom: @header-margin;
	background: @header-color;
	box-shadow: 0 0 10px @shadow-color;

	i:before { 							// GitLab icon options
		font-size: @header-icon-size;
		color: @header-icon-color;
	}
}

.battle-field {
	.battle-block(30%);
	.image-wrapper {
		position: relative;
		width: 285px;
		height: 362px;
		line-height: 362px;
		box-shadow: 0 0 10px @shadow-color;
	}
	img {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	#winner-name {
		margin-top: 10px;
		font-size: 30px;
		font-weight: 700;
		text-align: center;
	}
}

.battle-options {
	.battle-block(35%);
	vertical-align: top;
	padding: 0 2%;
	input, select {
		margin-bottom: 20px;
	}
	output { 
	  display: inline-block; 
	  position: absolute;
	  bottom: 50px;
	  left: 0;
	  width: 40px; 
	  height: 40px; 
	  margin-left: -1%;
	  font: bold @slider-bubble-font-size/30px Georgia;
	  color: @slider-bubble-font-color; 
	  text-align: center; 
	  border-radius: 50%; 
	  background-color: @slider-bubble-color;
	}
	output:after { 
	  content: "";
	  position: absolute;
	  width: 0;
	  height: 0;
	  border-top: 15px solid @slider-bubble-color;
	  border-left: 15px solid transparent;
	  border-right: 15px solid transparent;
	  top: 85%;
	  left: 50%;
	  margin-left: -15px;
	  margin-top: -1px;
	}
}

/* Other */

.button-wrapper {
	text-align: center;
	margin-top: 20px;
	#button-start {
		padding: @button-padding-vertical @button-padding-horizontal;
		font-size: @button-font-size;
		font-weight: 500;
		color: @button-font-color;
		text-transform: uppercase;
		background: @button-color;
		border: none;
		box-shadow: 0 0 10px @shadow-color;	
		cursor: pointer;
		&:hover {
			background-color: @button-color-hover;
		}
		&:active {
			background-color: @button-color-active;
		}
	}
}

.bottom-bordered {
	border: none;
	border-bottom: 1px solid @input-border-color;
}

.light-label {
	font-size: @labels-font-size;	
	font-weight: 700;
	color: @labels-color;
}

/* Grid */

.col-1 {
	width: 100%;
}

/* Typography */

h1 {
	font-size: @heading-font-size;
	color: @heading-color;
	text-align: center;
	margin-bottom: @heading-margin;
}

input, 
select {
	font-size: @input-font-size;
	padding: @input-padding 0;
	margin: 0;
}

.player-exp-wrapper {
	position: relative;
	input {
		margin-top: 50px;
	}
}